# Rent Price Prediction Case Study

  'Kaizen Property Solutions' is an innovative firm focused on providing data-driven insights for rental property management and investment. The company aims to enhance the rental decision-making process for landlords, tenants, and real estate investors through advanced analytical solutions.
  
Business Challenge:
    
  - In the dynamic rental market of Pune and Mumbai, accurately predicting rental prices is crucial for maximizing occupancy rates and optimizing rental income. However, property managers and landlords often face challenges in estimating rental prices due to various influencing factors, including property characteristics, location, and local market trends specific to these metropolitan areas.





Objective:
  - To tackle this challenge, 'Kaizen Property Solutions' is conducting a machine learning case study aimed at developing a predictive model for estimating rental prices based on a comprehensive dataset that includes the following features: house_type, house_size, location, city (specifically Pune and Mumbai), latitude, longitude, price, currency, numBathrooms, numBalconies, isNegotiable, priceSqFt, verificationDate, description, SecurityDeposit, and Status.

In [ ]:
import pandas as pd
import numpy as np
pune=pd.read_csv('/content/Indian_housing_Pune_data.csv')
mumbai=pd.read_csv('/content/Indian_housing_Mumbai_data.csv')

In [ ]:
pune

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,priceSqFt,verificationDate,description,SecurityDeposit,Status
0,2 BHK Apartment,906 sq ft,Lohegaon,Pune,18.605820,73.912407,12000,INR,2.0,NaN,NaN,NaN,Posted 3 years ago,A spacious 2 bhk multistorey apartment is avai...,No Deposit,Unfurnished
1,1 BHK Apartment,650 sq ft,Anand Nagar,Pune,18.474377,73.820549,11000,INR,1.0,NaN,NaN,NaN,Posted 2 years ago,It has a built-up area of 650 sqft and is avai...,No Deposit,Semi-Furnished
2,1 RK Studio Apartment,350 sq ft,Wagholi,Pune,18.580336,73.980507,4500,INR,1.0,NaN,NaN,NaN,Posted 2 years ago,This spacious 1 rk independent house is availa...,No Deposit,Unfurnished
3,3 BHK Apartment,"1,500 sq ft",Sangamvadi,Pune,18.541786,73.882454,35000,INR,2.0,NaN,NaN,NaN,Posted 3 years ago,"Furnishings include 1 tv, 1 refrigerator, 1 so...",No Deposit,Furnished
4,5 BHK Independent House,"5,000 sq ft",Wadgaon Sheri,Pune,18.560164,73.924927,110000,INR,5.0,NaN,NaN,NaN,Posted 3 years ago,Itâs a 5 bhk independent house situated in W...,No Deposit,Unfurnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,1 BHK Apartment,655 sq ft,Wakad,Pune,18.603699,73.761238,12500,INR,1.0,NaN,NaN,NaN,Posted 3 years ago,Well designed 1 bhk multistorey apartment is a...,"36,000",Unfurnished
3906,2 BHK Apartment,920 sq ft,Pimple Saudagar,Pune,18.594870,73.798187,16000,INR,2.0,NaN,NaN,NaN,Posted 3 years ago,Itâs a 2 bhk multistorey apartment situated ...,"50,000",Unfurnished
3907,1 BHK Apartment,650 sq ft,Pimple Saudagar,Pune,18.595701,73.797890,16000,INR,1.0,1.0,NaN,NaN,Posted 3 years ago,A spacious 1 bhk multistorey apartment is avai...,"35,000",Furnished
3908,2 BHK Apartment,"1,200 sq ft",Pimple Saudagar,Pune,18.592476,73.798538,20000,INR,2.0,NaN,NaN,NaN,Posted 3 years ago,It has a built-up area of 1200 sqft and is ava...,"60,000",Furnished
3909,2 BHK Apartment,933 sq ft,Rahatani,Pune,18.600847,73.789986,17500,INR,2.0,NaN,NaN,NaN,Posted 3 years ago,Itâs a 2 bhk multistorey apartment situated ...,"50,000",Unfurnished

In [ ]:
#Data cleaning
#house_type ->replace Floor to House
#house_size->remove , and sqft convert to numerical data
#location->Checking for spelling mistake in location
#City-> no problem
#Drop -> latitude longitude
#Pirce-> no problem
# currency-> drop
#numBathrooms-> convert to int
# numnumBalconies	isNegotiable--> Yes,no
#Drop sqftprice
#Drop/use verification
#Discription - needs more research
#Deposit--> convert to numerical, replace nodeposit with zero.
#status--->No problem

In [ ]:
pune.shape

(3910, 16)

In [ ]:
mumbai.shape

(5000, 16)

In [ ]:
finaldf=pd.concat([pune,mumbai]) # merge

In [ ]:
import re
def clean_House_size(text):
  x=re.sub(',','',text)
  y=re.sub('sq ft','',x)
  return y.strip()

In [ ]:
finaldf['house_size'].apply(clean_House_size).astype("int")

0        906
1        650
2        350
3       1500
4       5000
        ...
4995     800
4996    1200
4997    1040
4998    1930
4999    1260
Name: house_size, Length: 8910, dtype: int64

In [ ]:
finaldf['house_size']=finaldf['house_size'].apply(clean_House_size).astype("int")

In [ ]:
text1=finaldf['description'].iloc[2]

In [ ]:
text1

'This spacious 1 rk independent house is available for rental and is located in the heart of Wagholi. It has an area of 350 sqft with a carpet area of 300 sqft . The property is available at a monthly rental of Rs. 4,500 . This residential property is ready-to-move-in. It is made in way to provide a comfortable living for the residents. Contact us for more details. '

In [ ]:
re.findall("[\d]+",text1)[2]

'300'

In [ ]:
finaldf1=finaldf.drop(columns=['latitude','longitude','currency','priceSqFt','verificationDate','description'])

In [ ]:
def clean_Security_Deposit(text):
  return re.sub(',','',text)

In [ ]:
finaldf1['SecurityDeposit']=finaldf1['SecurityDeposit'].apply(clean_Security_Deposit)

In [ ]:
finaldf1['SecurityDeposit']=np.where(finaldf1['SecurityDeposit']=="No Deposit",0,finaldf1['SecurityDeposit'])

In [ ]:
finaldf1['SecurityDeposit']=finaldf1['SecurityDeposit'].astype('int')

In [ ]:
finaldf[finaldf['isNegotiable']=='Negotiable']['description'].iloc[811]

'AVAILABLE 2 BHK FLAT AT ANDHERI WEST \nVERY BIG AND LUXURY FLATS FOR FAMILY AND BACHELORS AND PETS MOST WELCOME.\nWE HAVE MULTIPLE FLAT OPTIONS AVAILABLE AT ANDHERI WEST. FOR MORE DETAILS OR MORE FLAT OPTIONS PLEASE CONTACT US.\nPRISM PROPERTY'

In [ ]:
finaldf1['numBathrooms'].isna().sum()

31

In [ ]:
finaldf1['numBathrooms'].fillna(1,inplace=True)

In [ ]:
finaldf1['numBathrooms']=finaldf1['numBathrooms'].astype('int')

In [ ]:
finaldf1['numBalconies']=finaldf1['numBalconies'].astype('object')

In [ ]:
finaldf1.groupby('numBalconies')['price'].median()

numBalconies
1.0     17000.0
2.0     18000.0
3.0     29500.0
4.0     44000.0
5.0     60000.0
6.0    888000.0
Name: price, dtype: float64

In [ ]:
finaldf1['numBalconies'].isna().sum()

6356

In [ ]:
text=finaldf1['house_type'].head(1)[0]

In [ ]:
text

'2 BHK Apartment '

In [ ]:
text=text.strip()

In [ ]:
import re
re.sub(' ',"_",text)

'2_BHK_Apartment'

In [ ]:
def house_type_cleaning(text):
  text=text.strip()
  return re.sub(' ',"_",text)

In [ ]:
finaldf1['house_type']=finaldf1['house_type'].apply(house_type_cleaning)

In [ ]:
import numpy as np

finaldf1['numBalconies'] = np.where(finaldf1['house_type'] == '2_BHK_Apartment',
                                    finaldf1['numBalconies'].fillna(1),
                                    finaldf1['numBalconies'].fillna(2))

In [ ]:
finaldf1[finaldf1['house_type']=='2 BHK Apartment']

Empty DataFrame
Columns: [house_type, house_size, location, city, price, numBathrooms, numBalconies, isNegotiable, SecurityDeposit, Status]
Index: []

In [ ]:
finaldf['description']

0       A spacious 2 bhk multistorey apartment is avai...
1       It has a built-up area of 650 sqft and is avai...
2       This spacious 1 rk independent house is availa...
3       Furnishings include 1 tv, 1 refrigerator, 1 so...
4       Itâs a 5 bhk independent house situated in W...
                              ...
4995    Gundecha asta complex. Andheri East. sakinaka ...
4996    It has an area of 1200 sqft . The property is ...
4997    It is located on the 7th floor(out of a total ...
4998    It is a furnished property. It has 1 wardrobe,...
4999    It has an area of 1260 sqft . The property is ...
Name: description, Length: 8910, dtype: object

In [ ]:
finaldf1['isNegotiable']=np.where(finaldf1['isNegotiable']=='Negotiable','Yes','No')

In [ ]:
finaldf1.isna().sum()

house_type         0
house_size         0
location           0
city               0
price              0
numBathrooms       0
numBalconies       0
isNegotiable       0
SecurityDeposit    0
Status             0
dtype: int64

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
from sklearn.metrics import r2_score,mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor
from sklearn.svm import SVR

In [ ]:
x=finaldf1.drop(columns=['price'])
y=finaldf1['price']

In [ ]:
# train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=2)

In [ ]:
X_train['city'].value_counts()

city
Mumbai    4013
Pune      3107
Hisar        8
Name: count, dtype: int64

In [ ]:
X_train

,house_type,house_size,location,city,numBathrooms,numBalconies,isNegotiable,SecurityDeposit,Status
251,3_BHK_Apartment,1310,Kalyan West,Mumbai,3,2.0,No,0,Furnished
482,2_BHK_Apartment,950,Bandra West,Mumbai,2,1.0,No,0,Furnished
1449,1_BHK_Apartment,956,Wadala,Mumbai,1,2.0,No,0,Semi-Furnished
2316,1_BHK_Apartment,700,Ulwe,Mumbai,1,2.0,No,0,Furnished
623,2_BHK_Apartment,780,Lohegaon,Pune,2,1.0,No,0,Semi-Furnished
...,...,...,...,...,...,...,...,...,...
1099,2_BHK_Apartment,990,Wagholi,Pune,2,2.0,No,25000,Furnished
2514,2_BHK_Apartment,1100,Aundh,Pune,2,1.0,Yes,84000,Semi-Furnished
2727,2_BHK_Apartment,1000,Ambernath West,Mumbai,2,1.0,No,0,Semi-Furnished
2575,1_BHK_Apartment,633,Dhanori,Pune,1,2.0,Yes,50000,Unfurnished
3426,3_BHK_Apartment,1100,Bandra West,Mumbai,4,2.0,Yes,600000,Semi-Furnished

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error

# Step 1: Column Transformer with encoding
step1 = ColumnTransformer(transformers=[
    ('tnf1', OneHotEncoder(sparse_output=False, categories='auto', handle_unknown='ignore'), [2, 3, 6]),
    ('tnf2', OrdinalEncoder(categories=[['1_RK_Studio_Apartment', '1_BHK_Apartment', '1_BHK_Independent_House',
                                         '1_BHK_Independent_Floor', '1_BHK_Villa', '2_BHK_Apartment',
                                         '2_BHK_Independent_House', '2_BHK_Independent_Floor', '2_BHK_Villa',
                                         '3_BHK_Apartment', '3_BHK_Independent_House', '3_BHK_Independent_Floor',
                                         '3_BHK_Villa', '4_BHK_Apartment', '4_BHK_Independent_House',
                                         '4_BHK_Independent_Floor', '4_BHK_Villa', '5_BHK_Apartment',
                                         '5_BHK_Independent_House', '5_BHK_Villa', '6_BHK_Apartment',
                                         '6_BHK_Independent_House', '6_BHK_Villa', '6_BHK_penthouse']],
                         handle_unknown='use_encoded_value', unknown_value=-1), [0]),
    ('tnf3', OrdinalEncoder(categories=[['Unfurnished', 'Semi-Furnished', 'Furnished']],
                            handle_unknown='use_encoded_value', unknown_value=-1), [8]),
], remainder='passthrough')

# Step 2: Use Multiple Linear Regression instead of Gradient Boosting
step2 = LinearRegression()
# Create pipeline
pipe = Pipeline([
    ('step1', step1),
    ('step2', step2)
])

# Fit the pipeline to the training data
pipe.fit(X_train, y_train)
# Make predictions on the test data
y_pred = pipe.predict(X_test)
# Evaluate the model
print('R2 score:', r2_score(y_test, y_pred))
print('MAE:', mean_absolute_error(y_test, y_pred))

R2 score: 0.6614131312692343
MAE: 17102.42474754782

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.metrics import r2_score, mean_absolute_error

# Step 1: Column Transformer with encoding
step1 = ColumnTransformer(transformers=[
    ('tnf1', OneHotEncoder(sparse_output=False, categories='auto', handle_unknown='ignore'), [2, 3, 6]),
    ('tnf2', OrdinalEncoder(categories=[['1_RK_Studio_Apartment', '1_BHK_Apartment', '1_BHK_Independent_House',
                                         '1_BHK_Independent_Floor', '1_BHK_Villa', '2_BHK_Apartment',
                                         '2_BHK_Independent_House', '2_BHK_Independent_Floor', '2_BHK_Villa',
                                         '3_BHK_Apartment', '3_BHK_Independent_House', '3_BHK_Independent_Floor',
                                         '3_BHK_Villa', '4_BHK_Apartment', '4_BHK_Independent_House',
                                         '4_BHK_Independent_Floor', '4_BHK_Villa', '5_BHK_Apartment',
                                         '5_BHK_Independent_House', '5_BHK_Villa', '6_BHK_Apartment',
                                         '6_BHK_Independent_House', '6_BHK_Villa', '6_BHK_penthouse']],
                         handle_unknown='use_encoded_value', unknown_value=-1), [0]),
    ('tnf3', OrdinalEncoder(categories=[['Unfurnished', 'Semi-Furnished', 'Furnished']],
                            handle_unknown='use_encoded_value', unknown_value=-1), [8]),
], remainder='passthrough')

# Step 2: Use Decision Tree Regressor
step2 = DecisionTreeRegressor()

# Create pipeline
pipe = Pipeline([
    ('step1', step1),
    ('step2', step2)
])

# Fit the pipeline to the training data
pipe.fit(X_train, y_train)

# Make predictions on the test data
y_pred = pipe.predict(X_test)

# Evaluate the model
print('R2 score:', r2_score(y_test, y_pred))
print('MAE:', mean_absolute_error(y_test, y_pred))

R2 score: 0.7869902683681171
MAE: 9683.418262798956

In [ ]:
# Step 1: Column Transformer with encoding
step1 = ColumnTransformer(transformers=[
    ('tnf1', OneHotEncoder(sparse_output=False, categories='auto', handle_unknown='ignore'), [2, 3, 6]),
    ('tnf2', OrdinalEncoder(categories=[['1_RK_Studio_Apartment', '1_BHK_Apartment', '1_BHK_Independent_House',
                                         '1_BHK_Independent_Floor', '1_BHK_Villa', '2_BHK_Apartment',
                                         '2_BHK_Independent_House', '2_BHK_Independent_Floor', '2_BHK_Villa',
                                         '3_BHK_Apartment', '3_BHK_Independent_House', '3_BHK_Independent_Floor',
                                         '3_BHK_Villa', '4_BHK_Apartment', '4_BHK_Independent_House',
                                         '4_BHK_Independent_Floor', '4_BHK_Villa', '5_BHK_Apartment',
                                         '5_BHK_Independent_House', '5_BHK_Villa', '6_BHK_Apartment',
                                         '6_BHK_Independent_House', '6_BHK_Villa', '6_BHK_penthouse']],
                         handle_unknown='use_encoded_value', unknown_value=-1), [0]),
    ('tnf3', OrdinalEncoder(categories=[['Unfurnished', 'Semi-Furnished', 'Furnished']],
                            handle_unknown='use_encoded_value', unknown_value=-1), [8]),
], remainder='passthrough')
# Step 2: Use Random Forest Regressor
step2 = RandomForestRegressor(n_estimators=100)
# Create pipeline
pipe = Pipeline([
    ('step1', step1),
    ('step2', step2)
])
# Fit the pipeline to the training data
pipe.fit(X_train, y_train)

# Make predictions on the test data
y_pred = pipe.predict(X_test)

# Evaluate the model
print('R2 score:', r2_score(y_test, y_pred))
print('MAE:', mean_absolute_error(y_test, y_pred))

R2 score: 0.8260226367050573
MAE: 9240.007035678038

In [ ]:
from sklearn.svm import SVR
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.metrics import r2_score, mean_absolute_error
# Step 1: Column Transformer with encoding
step1 = ColumnTransformer(transformers=[
    ('tnf1', OneHotEncoder(sparse_output=False, categories='auto', handle_unknown='ignore'), [2, 3, 6]),
    ('tnf2', OrdinalEncoder(categories=[['1_RK_Studio_Apartment', '1_BHK_Apartment', '1_BHK_Independent_House',
                                         '1_BHK_Independent_Floor', '1_BHK_Villa', '2_BHK_Apartment',
                                         '2_BHK_Independent_House', '2_BHK_Independent_Floor', '2_BHK_Villa',
                                         '3_BHK_Apartment', '3_BHK_Independent_House', '3_BHK_Independent_Floor',
                                         '3_BHK_Villa', '4_BHK_Apartment', '4_BHK_Independent_House',
                                         '4_BHK_Independent_Floor', '4_BHK_Villa', '5_BHK_Apartment',
                                         '5_BHK_Independent_House', '5_BHK_Villa', '6_BHK_Apartment',
                                         '6_BHK_Independent_House', '6_BHK_Villa', '6_BHK_penthouse']],
                         handle_unknown='use_encoded_value', unknown_value=-1), [0]),
    ('tnf3', OrdinalEncoder(categories=[['Unfurnished', 'Semi-Furnished', 'Furnished']],
                            handle_unknown='use_encoded_value', unknown_value=-1), [8]),
], remainder='passthrough')

# Step 2: Use StandardScaler to scale features before applying SVR
step2_scaler = StandardScaler()

# Step 3: Use SVR
step3 = SVR(kernel='rbf')  # You can choose different kernels, like 'linear', 'poly', etc.

# Create pipeline
pipe = Pipeline([
    ('step1', step1),
    ('step2_scaler', step2_scaler),  # Apply scaling after encoding
    ('step3', step3)
])

# Fit the pipeline to the training data
pipe.fit(X_train, y_train)

# Make predictions on the test data
y_pred = pipe.predict(X_test)

# Evaluate the model
print('R2 score:', r2_score(y_test, y_pred))
print('MAE:', mean_absolute_error(y_test, y_pred))

R2 score: -0.07539762368515457
MAE: 27528.59094449541

In [ ]:


# Step 1: Column Transformer with encoding
step1 = ColumnTransformer(transformers=[
    ('tnf1', OneHotEncoder(sparse_output=False, categories='auto', handle_unknown='ignore'), [2, 3, 6]),
    ('tnf2', OrdinalEncoder(categories=[['1_RK_Studio_Apartment', '1_BHK_Apartment', '1_BHK_Independent_House',
                                         '1_BHK_Independent_Floor', '1_BHK_Villa', '2_BHK_Apartment',
                                         '2_BHK_Independent_House', '2_BHK_Independent_Floor', '2_BHK_Villa',
                                         '3_BHK_Apartment', '3_BHK_Independent_House', '3_BHK_Independent_Floor',
                                         '3_BHK_Villa', '4_BHK_Apartment', '4_BHK_Independent_House',
                                         '4_BHK_Independent_Floor', '4_BHK_Villa', '5_BHK_Apartment',
                                         '5_BHK_Independent_House', '5_BHK_Villa', '6_BHK_Apartment',
                                         '6_BHK_Independent_House', '6_BHK_Villa', '6_BHK_penthouse']],
                         handle_unknown='use_encoded_value', unknown_value=-1), [0]),
    ('tnf3', OrdinalEncoder(categories=[['Unfurnished', 'Semi-Furnished', 'Furnished']],
                            handle_unknown='use_encoded_value', unknown_value=-1), [8]),
], remainder='passthrough')

# Step 2: Use AdaBoost Regressor with DecisionTreeRegressor as base estimator
step2 = AdaBoostRegressor(base_estimator=DecisionTreeRegressor(), n_estimators=100)

# Create pipeline
pipe = Pipeline([
    ('step1', step1),
    ('step2', step2)
])
# Fit the pipeline to the training data
pipe.fit(X_train, y_train)
# Make predictions on the test data
y_pred = pipe.predict(X_test)
# Evaluate the model
print('R2 score:', r2_score(y_test, y_pred))
print('MAE:', mean_absolute_error(y_test, y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

R2 score: 0.792221715454946
MAE: 10365.135330877352

In [ ]:
step1=ColumnTransformer(transformers=[('tnf1',OneHotEncoder(sparse=False,categories='auto',handle_unknown = 'ignore'),[2,3,6]),
('tnf2',OrdinalEncoder(categories = [['1_RK_Studio_Apartment', '1_BHK_Apartment', '1_BHK_Independent_House', '1_BHK_Independent_Floor', '1_BHK_Villa', '2_BHK_Apartment', '2_BHK_Independent_House', '2_BHK_Independent_Floor', '2_BHK_Villa', '3_BHK_Apartment', '3_BHK_Independent_House', '3_BHK_Independent_Floor', '3_BHK_Villa', '4_BHK_Apartment', '4_BHK_Independent_House', '4_BHK_Independent_Floor', '4_BHK_Villa', '5_BHK_Apartment', '5_BHK_Independent_House', '5_BHK_Villa', '6_BHK_Apartment', '6_BHK_Independent_House', '6_BHK_Villa', '6_BHK_penthouse']
],handle_unknown='use_encoded_value', unknown_value=-1),[0]),
('tnf3',OrdinalEncoder(categories=[['Unfurnished', 'Semi-Furnished', 'Furnished']
],handle_unknown='use_encoded_value', unknown_value=-1),[8]),
],remainder='passthrough')
step2 = GradientBoostingRegressor(n_estimators=500)
pipe = Pipeline([
('step1',step1),
('step2',step2)
])
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

R2 score 0.8339732144535235
MAE 10506.16642911997

In [ ]:
import pickle
pickle.dump(finaldf1,open('/content/dataf.pkl','wb'))
pickle.dump(pipe,open('/content/pipe1.pkl','wb'))

In [ ]:
!pip install pandas==1.5.3

Collecting pandas==1.5.3
  Downloading pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.3) (2024.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.3) (1.26.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.3) (1.16.0)
Downloading pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 81.6 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.1.4
    Uninstalling pandas-2.1.4:
      Successfully uninstalled pandas-2.1.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.4.1 requires pandas<2.2.2dev0,>=2.0, but you have pandas 1.5.3 which is incompatible.
google-colab 1.0.0 requires pandas==2.1.4, but you have pandas 1.5.3 which is incompatible.
mizani 0.11.4 requires pandas>=2.1.0, but you have pandas 1.5.3 which is incompatible.
plotnine 0.13.6 requires pandas<3.0.0,>=2.1.0, but you have pandas 1.5.3 which is incompatible.
xarray 2024.9.0 requires pandas>=2.1, but you have pandas 1.5.3 which is incompatible.
Successfully installed pandas-1.5.3

In [ ]:
!pip install gradio

Collecting gradio
  Using cached gradio-4.44.0-py3-none-any.whl.metadata (15 kB)
Collecting aiofiles<24.0,>=22.0 (from gradio)
  Using cached aiofiles-23.2.1-py3-none-any.whl.metadata (9.7 kB)
Requirement already satisfied: anyio<5.0,>=3.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (3.7.1)
Collecting fastapi<1.0 (from gradio)
  Using cached fastapi-0.115.0-py3-none-any.whl.metadata (27 kB)
Collecting ffmpy (from gradio)
  Using cached ffmpy-0.4.0-py3-none-any.whl.metadata (2.9 kB)
Collecting gradio-client==1.3.0 (from gradio)
  Using cached gradio_client-1.3.0-py3-none-any.whl.metadata (7.1 kB)
Collecting httpx>=0.24.1 (from gradio)
  Using cached httpx-0.27.2-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: huggingface-hub>=0.19.3 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.24.7)
Requirement already satisfied: importlib-resources<7.0,>=1.3 in /usr/local/lib/python3.10/dist-packages (from gradio) (6.4.5)
Requirement already satisfied: jinja2<4.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (3.1.4)
Requirement already satisfied: markupsafe~=2.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (2.1.5)
Requirement already satisfied: matplotlib~=3.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (3.7.1)
Requirement already satisfied: numpy<3.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (1.26.4)
Collecting orjson~=3.0 (from gradio)
  Using cached orjson-3.10.7-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (50 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from gradio) (24.1)
Requirement already satisfied: pandas<3.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (1.5.3)
Requirement already satisfied: pillow<11.0,>=8.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (10.4.0)
Requirement already satisfied: pydantic>=2.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (2.9.2)
Requirement already satisfied: pydub in /usr/local/lib/python3.10/dist-packages (from gradio) (0.25.1)
Collecting python-multipart>=0.0.9 (from gradio)
  Using cached python_multipart-0.0.9-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: pyyaml<7.0,>=5.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (6.0.2)
Requirement already satisfied: ruff>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.6.6)
Requirement already satisfied: semantic-version~=2.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (2.10.0)
Requirement already satisfied: tomlkit==0.12.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.12.0)
Requirement already satisfied: typer<1.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.12.5)
Requirement already satisfied: typing-extensions~=4.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (4.12.2)
Requirement already satisfied: urllib3~=2.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (2.0.7)
Collecting uvicorn>=0.14.0 (from gradio)
  Using cached uvicorn-0.30.6-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from gradio-client==1.3.0->gradio) (2024.6.1)
Requirement already satisfied: websockets<13.0,>=10.0 in /usr/local/lib/python3.10/dist-packages (from gradio-client==1.3.0->gradio) (12.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5.0,>=3.0->gradio) (3.10)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.10/dist-packages (from anyio<5.0,>=3.0->gradio) (1.3.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5.0,>=3.0->gradio) (1.2.2)
Collecting starlette<0.39.0,>=0.37.2 (from fastapi<1.0->gradio)
  Using cached starlette-0.38.5-py3-none-any.whl.metadata (6.0 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx>=0.24.1->gradio) (2024.8.30)
Collecting httpcore==1.* (from httpx>=0.24.1->gradio)
  Using cached httpcore-1.0.5-py3-none-any.whl.metadata (20 kB)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx>=0.24.1->gradio)
  Using cached h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.19.3->gradio) (3.16.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.19.3->gradio) (2.32.3)
Requirement already satisfied: tqdm>=4.42.1 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.19.3->gradio) (4.66.5)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib~=3.0->gradio) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib~=3.0->gradio) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib~=3.0->gradio) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib~=3.0->gradio) (1.4.7)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib~=3.0->gradio) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib~=3.0->gradio) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0,>=1.0->gradio) (2024.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pydantic>=2.0->gradio) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /usr/local/lib/python3.10/dist-packages (from pydantic>=2.0->gradio) (2.23.4)
Requirement already satisfied: click>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from typer<1.0,>=0.12->gradio) (8.1.7)
Requirement already satisfied: shellingham>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from typer<1.0,>=0.12->gradio) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.10/dist-packages (from typer<1.0,>=0.12->gradio) (13.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib~=3.0->gradio) (1.16.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (2.18.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.19.3->gradio) (3.3.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer<1.0,>=0.12->gradio) (0.1.2)
Using cached gradio-4.44.0-py3-none-any.whl (18.1 MB)
Using cached gradio_client-1.3.0-py3-none-any.whl (318 kB)
Using cached aiofiles-23.2.1-py3-none-any.whl (15 kB)
Using cached fastapi-0.115.0-py3-none-any.whl (94 kB)
Using cached httpx-0.27.2-py3-none-any.whl (76 kB)
Using cached httpcore-1.0.5-py3-none-any.whl (77 kB)
Using cached orjson-3.10.7-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (141 kB)
Using cached python_multipart-0.0.9-py3-none-any.whl (22 kB)
Using cached uvicorn-0.30.6-py3-none-any.whl (62 kB)
Using cached ffmpy-0.4.0-py3-none-any.whl (5.8 kB)
Using cached h11-0.14.0-py3-none-any.whl (58 kB)
Using cached starlette-0.38.5-py3-none-any.whl (71 kB)
Installing collected packages: python-multipart, orjson, h11, ffmpy, aiofiles, uvicorn, starlette, httpcore, httpx, fastapi, gradio-client, gradio
Successfully installed aiofiles-23.2.1 fastapi-0.115.0 ffmpy-0.4.0 gradio-4.44.0 gradio-client-1.3.0 h11-0.14.0 httpcore-1.0.5 httpx-0.27.2 orjson-3.10.7 python-multipart-0.0.9 starlette-0.38.5 uvicorn-0.30.6

In [ ]:
import gradio as gr
import pickle
import numpy as np
import math
# Load your model and data
pipe = pickle.load(open('/content/pipe1.pkl', 'rb'))
dataf = pickle.load(open('/content/dataf.pkl', 'rb'))
def predict_rent_price(house_type, house_size, location, city, numBathrooms,
       numBalconies, isNegotiable, SecurityDeposit, Status):
    query = np.array([house_type, house_size, location, city, numBathrooms,
       numBalconies, isNegotiable, SecurityDeposit, Status])
    query = query.reshape(1, 9)
    prediction = pipe.predict(query)[0]
    return round(prediction)
# Define the inputs and outputs for the Gradio interface
inputs = [
    gr.Dropdown(choices=dataf['house_type'].unique().tolist(), label="House Type"),
    gr.Number(label="House Size in Sqft"),
    gr.Dropdown(choices=dataf['location'].unique().tolist(), label="Location"),
    gr.Dropdown(choices=dataf['city'].unique().tolist(), label="City"),
    gr.Number(label="Number of Bathrooms"),
    gr.Number(label="Number of Balconies"),

    gr.Dropdown(choices=dataf['isNegotiable'].unique().tolist(), label="IsNegotiable"),
    gr.Number(label="SecurityDeposit"),
    gr.Dropdown(choices=dataf['Status'].unique().tolist(), label="Status"),]
outputs = gr.Textbox(label="Predicted Price")
# Create and launch the Gradio interface
gr.Interface(fn=predict_rent_price, inputs=inputs, outputs=outputs, title="Home Rent Prediction ").launch()

Setting queue=True in a Colab notebook requires sharing enabled. Setting `share=True` (you can turn this off by setting `share=False` in `launch()` explicitly).

Colab notebook detected. To show errors in colab notebook, set debug=True in launch()
Running on public URL: https://4e957e4e4e2d67325a.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from Terminal to deploy to Spaces (https://huggingface.co/spaces)

In [ ]:
finaldf1.groupby('isNegotiable')['price'].mean().plot(kind='bar')

NameError: name 'finaldf1' is not defined

In [ ]:
#negotiable, price  t- test

In [ ]:
finaldf1